<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cars</title>
</head>
<body>
  <h1>Cars from the API</h1>
  <p id="loading">Loading...</p>
  <ul id="output"></ul>

  <script>
    fetch('http://localhost:3000/data')
      .then(response => response.json())
      .then(data => {
        document.getElementById('loading').remove();

        const output = document.getElementById('output');
        for(const el of data.data){
          const node = document.createElement("li");
          const textnode = document.createTextNode(`${el.year} ${el.name}, ${el.origin}`);
          node.appendChild(textnode);
          output.appendChild(node);
        }

      })
      .catch(error => {
        console.error('Error fetching data:', error);
        document.getElementById('output').innerHTML = 'Failed to load data.';
      });
  </script>
</body>
</html>